/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
 
    Author     : anmol
*/

body {

    background-image: url("http://www.pictures88.com/p/welcome/welcome_040.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 70%;
}

#form1 form#id1.c1 {
    font-weight: bold;
    color: #ffffff;
    font-size: 150%;
}